* {
    margin: 0;
    padding: 0;
}

nav {
    background: #454343;
    height: 5rem;
    color: white;
    text-align: center;
    font-size: 3rem;
}

nav>p {
    padding-top: .7rem;
}

.choices {
    margin-left: 30px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
}

.choice>img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;
}

#paper>img {
    transform: rotate(270deg);
}

#scissor>img {
    transform: rotate(280deg);
}

.scorecard {
    margin-left: 3rem;
    display: flex;
    margin-top: 7rem;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

#myscore,
#compscore {
    margin: 2rem;
    text-align: center;
}

.holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

#result1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    background: #454343;
    color: white;
    width: 18rem;
    height: 4rem;
    border-radius: 3rem;
}

#result {
    margin-top: .7rem;
}

.chng>img {
    box-shadow: 1px 1px 3px;
    border-radius: 10rem;
    padding-left: 3px;
}

#reset {
    display: flex;
    margin-top: 1rem;
    margin-left: 3.5rem;
    align-items: center;
    justify-content: center;
}

#reset>button {
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    background-color: black;
    color: white;
}

#reset>button:active {
    background: #454343;
}

@media (max-width : 400px)and (min-width: 100px) {
    nav {
        width: 100%;
        font-size: 2rem;
    }

    .choices {
        margin-left: 10px;
        margin-top: 3rem;
        display: flex;
        gap: 1rem;
    }

    .choice {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
    }

    .choice>img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        cursor: pointer;
    }

    .scorecard {
        font-size: 2rem;
        gap: 0;
        margin-left: 10px;
    }

    .container {
        position: relative;
        right: 1rem;
    }
}